body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #eff6fc;
}

h1, h2, h3, h4, h5, h6{
    color: #170f44
}

/* Contenedor del sitio */
.contenedor{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

/*Primer sección: navbar*/
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.navbar_logo{
    width: 20%;
}

.navbar_botonera{
    width: 55%;
    text-align: center;
}

.navbar_botonera a{
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #170f44;
}

.navbar_redes{
    width: 25%;
}

.navbar_redes a{
    padding: 10px;
}

/* Segunda sección: banner */
.banner{
    margin-bottom: 10px;
}

.banner img{
    width: 100%;
    height: auto;
}

/* Tercera sección: intro (solo en la home) */
.intro {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Cuarta sección: recetas */
.recetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Estilos de las tarjetas de receta */
.receta_tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:280px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
  margin: 5px;
}

.receta_tarjeta_titulo{
  font-size: 14px;
  color: #170f44;
  padding: 0px 0px 0px 15px;
}
.receta_tarjeta_cuerpo{
  margin: auto;
}

.receta_tarjeta_cuerpo img{
    width: 250px;
    height: 200px;
    padding: 0px 0px 5px 0px;
}

.receta_tarjeta_pie{
  background: #6699ff;
  border-radius:0 0 15px 15px;
  padding: 5px;
  text-align:center;
}
.receta_tarjeta_pie a{
  text-decoration: none;
  color: white;
}

/* Estilos de la botonera de países en recetas*/
.recetas_botonera{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.recetas_botonera img{
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

/* Estilos de la receta completa*/
.receta{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:1000px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    margin: auto;
    padding: 10px;
  }

  .receta_imagen{
    width: 450px;
    height: 300px;
  }

  .receta_col1, .receta_col2{
    margin: 10px;
  }

/* Pié de página */
footer{
    text-align: center;
    color: #170f44;
}